POSTGRES_DB=invoice_rail
POSTGRES_USER=invoice_rail
POSTGRES_PASSWORD=replace-with-a-long-random-password
APP_ORIGIN=http://localhost:3000
INDEXER_SECRET=replace-with-a-long-random-secret
METRICS_SECRET=replace-with-a-different-long-random-secret
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.drpc.testnet.arc.network
DATABASE_POOL_SIZE=10
INDEXER_INTERVAL_MS=5000
INDEXER_STALE_AFTER_MS=60000
